
# Created by https://www.gitignore.io/api/go,macos

### Go ###
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/go,macos

build
docker_commands.txt
ba/

.DS_Store
internal/monitoring/api/client/node_modules
internal/monitoring/api/client/node_modules/dist

# local env files
internal/monitoring/api/client/node_modules/.env.local
internal/monitoring/api/client/node_modules/.env.*.local

# Log files
internal/monitoring/api/client/node_modules/npm-debug.log*
internal/monitoring/api/client/node_modules/yarn-debug.log*
internal/monitoring/api/client/node_modules/yarn-error.log*

# Editor directories and files
internal/monitoring/api/client/node_modules/.idea
internal/monitoring/api/client/node_modules/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
